.change_password_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 136px);
    flex-direction: column;
    gap: 16px;

    .input_section {
        width: 19%;
        display: flex;
        gap: 8px;
        flex-direction: column;
    }
}
