.home_container {
    padding: 16px;

    h1 {
        margin-bottom: 16px;
    }

    .search_section {
        display: flex;
        gap: 8px;
        width: 35%;

        input {
            width: 100%;
        }
    }
    .table_section {
        margin-top: 16px;
        .ant-table {
            border-radius: 8px;

            .action_link {
                color: #53c100;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
