.home_container {
    padding: 16px;

    h1 {
        margin-bottom: 16px;
    }

    .search_section {
        display: flex;

        input {
            width: 25%;
            margin-right: 8px;
        }
    }
}
